<main>
    <header>
        <h2>Notre collection de spaceshifts disponibles immédiatement</h2>
    </header>
    <main>
        <div class="triospaceshifts" >
            <div class="spaceshiftarea" >
                <h3>Lorem ipsum</h3>
                <img src="../../assets/img/spaceshift1.jpg" alt="photo spaceshift #1" >
            </div>
            <div class="spaceshiftarea" >
                <h3>Lorem ipsum</h3>
                <img src="../../assets/img/spaceshift2.jpg" alt="photo spaceshift #2" >
            </div>
            <div class="spaceshiftarea" >
                <h3>Lorem ipsum</h3>
                <img src="../../assets/img/spaceshift3.jpg" alt="photo spaceshift #3" >
            </div>
        </div>
        <div class="triospaceshifts" >
            <div class="spaceshiftarea" >
                <h3>Lorem ipsum</h3>
                <img src="../../assets/img/spaceshift4.jpg" alt="photo spaceshift #4" >
            </div>
            <div class="spaceshiftarea" >
                <h3>Lorem ipsum</h3>
                <img src="../../assets/img/spaceshift5.jpg" alt="photo spaceshift #5" >
            </div>
            <div class="spaceshiftarea" >
                <h3>Lorem ipsum</h3>
                <img src="../../assets/img/spaceshift6.jpg" alt="photo spaceshift #6" >
            </div>
        </div>
        <div class="triospaceshifts" >
            <div class="spaceshiftarea" >
                <h3>Lorem ipsum</h3>
                <img src="../../assets/img/spaceshift7.jpg" alt="photo spaceshift #7" >
            </div>
            <div class="spaceshiftarea" >
                <h3>Lorem ipsum</h3>
                <img src="../../assets/img/spaceshift8.jpg" alt="photo spaceshift #8" >
            </div>
            <div class="spaceshiftarea" >
                <h3>Lorem ipsum</h3>
                <img src="../../assets/img/spaceshift9.jpg" alt="photo spaceshift #9" >
            </div>
        </div>
        <div class="triospaceshifts" >
            <div class="spaceshiftarea" >
                <h3>Lorem ipsum</h3>
                <img src="../../assets/img/spaceshift10.jpg" alt="photo spaceshift #10" >
            </div>
            <div class="spaceshiftarea" >
                <h3>Lorem ipsum</h3>
                <img src="../../assets/img/spaceshift11.jpg" alt="photo spaceshift #11" >
            </div>
            <div class="spaceshiftarea" >
                <h3>Lorem ipsum</h3>
                <img src="../../assets/img/spaceshift12.jpg" alt="photo spaceshift #12" >
            </div>
        </div>
        <div class="lastspaceshift" >
            <div class="spaceshiftarea" >
                <h3>Lorem ipsum</h3>
                <img src="../../assets/img/spaceshift13.webp" alt="photo spaceshift #13" >
            </div>  
        </div>
    </main>
</main>